//@keyframes whbl {
//  0%   {background-color: white;
//  color: black;}
//  100% {background-color: black;
//  color: white;}
//}
//
//@keyframes blwh {
//  0%   {background-color: #2c2c2c;
//    color: white;}
//  100% {background-color: white;
//    color: black;}
//}

body {
  margin-top: rem-calc(100px)
}
.stick-top {
  position: fixed;
  top: 0;
  width:100%;
  z-index: 10;
  background: white;
}

article{
  background: white;
  color: black;
  align-items: stretch;
  text-align:center;
  min-height: 50vh;
  img{
    align: center;
    padding: rem-calc(20px);
  }
}

//article {
//  .columns:hover {
//    background: black;
//    color: white;
//    animation-name: whbl;
//    -webkit-animation-duration: 1.5s;
//    -moz-animation-duration: 1.5s;
//    -o-animation-duration: 1.5s;
//    animation-duration: 1.5s;
//  }
//}

article:nth-child(odd) {
  background: #2c2c2c;
  color: white;
}

article:nth-child(odd) {
  box-shadow: 0px -12px 7px 3px rgba(0,0,0,0.29);
  //.columns:hover {
  //  background: white;
  //  color: black;
  //  animation-name: blwh;
  //  -webkit-animation-duration: 1.5s;
  //  -moz-animation-duration: 1.5s;
  //  -o-animation-duration: 1.5s;
  //  animation-duration: 1.5s;
  //}
}

footer {
  background: #282b2e;
  color: #5485b6;
}

.full {
  min-height: 100vh;
}

.skills {
  column-count: 2;
  column-gap: rem-calc(25px);
}